* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  overflow: hidden;
}

.scene {
  position: absolute;
  inset: 0;
  display: none;
}

.scene.active {
  display: block;
}
